<%= form_with model: Comment do |form| %>
  <%= form.hidden_field :post_id, value: post.id %>
   <%= form.text_field :text, placeholder: 'Your comment...'%>
   <button type="submit" class="submit">Comment</button> 
<% end %>